<h3><%= tmp(Classroom) %></h3>

<% if @classrooms.empty? %>
  <p><%= "Não existem #{ tmp(Classroom) } cadastradas." %></p>
<% else %>
  <%= render @classrooms %>
<% end %>

<br />

<%= link_to "Nova #{ tm(Classroom) }", new_classroom_path %>