<h3><%= tmp(Student) %></h3>

<% if @students.empty? %>
  <p><%= "Não existem #{ tmp(Student) } cadastrados." %></p>
<% else %>
  <%= render @students %>
<% end %>

<br />

<%= link_to "Novo #{ tm(Student) }", new_student_path %>