<p><%= "#{ ta(Student, :name) }: #{ @student.name }" %></p>
<p><%= "#{ ta(Student, :register_number) }: #{ @student.register_number }" %></p>
<p><%= "#{ ta(Student, :status) }: #{ @student.status }" %></p>