<h3><%= tmp(Course) %></h3>

<% if @courses.empty? %>
  <p><%= "Não existem #{ tmp(Course) } cadastrados." %></p>
<% else %>
  <%= render @courses %>
<% end %>

<br />

<%= link_to "Novo #{ tm(Course) }", new_course_path %>